$pageWidth: 600px;
$mobileBreakpoint: 500px;
$tabletBreakpoint: 900px;
$sidePanelWidth: 320px;
$topSpacing: 3rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 600;
$semiBoldWeight: 450;
$normalWeight: 300;
